# Project exclude paths
/node_modules/
/.idea/
.idea/
.DS_Store

# Dependencies
node_modules/
package-lock.json

# Configuration tools
tools/generateConfig.js
tools/configServer.js

# Environment variables
.env